<ion-view title="DocExpress" hide-nav-bar="true" id="page1">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/2AXdbciSJy4nesZkHg2K_bigstock-close-up-of-male-doctor-holdin-47034502-720x488.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="docExpress-button1" class="button button-positive  button-block">Register</button>
    <button id="docExpress-button2" class="button button-positive  button-block">Login</button>
  </ion-content>
</ion-view>